.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 40px 0;
  width: 100%;
  font-family: Arial, sans-serif;
  border-radius: 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.footer-col {
  flex: 1;
  min-width: 220px; 
  margin-bottom: 20px;
  
}

.footer-col h4 {
  font-size: 18px;
  color: #ff8c00;
  margin-bottom: 10px;
  font-weight: 600;
  position: relative;
  
}
.footer-col p{
  margin-top: 30px;
}

.footer-col h4::after {
  content: '';
  background-color: #ff8c00;
  height: 2px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  
}

.footer-col ul li {
  margin-bottom: 10px;
  color: #bbbbbb;
  font-size: 16px;
}

.footer-col ul li a {
  color: #bbbbbb;
  text-decoration: none;
  transition: color 0.3s;
  
}

.footer-col ul li a:hover {
  color: #ff8c00;
}
.social-links{
  margin-top: 40px;
  
}

.social-links a {
  color: #ffffff;
  margin-right: 35px;
  font-size: 18px;
  transition: color 0.3s;
  
  
}

.social-links a:hover {
  color: #ff8c00;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #bbbbbb;
}

.footer-bottom p {
  margin: 0;
}
.Footer-Address{
  margin-top: 30px;
}

hr {
  border: 0;
  border-top: 2px solid orange;
  margin-top: 20px;
  
}

