  

.stars {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.star {
    font-size: 24px; 
    color: #ccc;
    position: relative;
    margin-right: 4px; 
    margin-bottom: 5px;
}

.star.full {
    color: green; 
}

.star.half::before {
    content: '\2605'; 
    position: absolute;
    top: 0;
    left: 0;
    color: green; 
    overflow: hidden;
    width: 50%;
}

.rating-text {
    margin-left: 8px;
    font-size: 16px;
    color: #333;
}
